@import "bourbon";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*VARS*/
$font-stack:'Montserrat';
$font-bold:'900';
$primary-color:#B2E3EF;
$secondary-color:#eee; 
$bg-white:#fff;

/*MIXINS*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	background-color:$primary-color;
	font-family: $helvetica;
	overflow-x:hidden;
}

.ball {
	position:relative;
	width:520px;
	height:520px;
  
	padding:10px;
	margin:0 auto;
	margin-top: 100px;
	top: -200px;
	background-color:$bg-white;
	@include border-radius(50%);
	@include animation(bounce 1.4s forwards);
	@include transform-origin(center center);
}

@include keyframes(bounce) {
	0% {
		top: -200px;
		height:220px;
		@include animation-timing-function($ease-out-expo);
	}
	25% {
		top: 190px;
		height:155px;
		@include animation-timing-function($ease-out-quint);
	}

	45% {
		top: -100px;
		width:220px;
		height:220px;
		@include animation-timing-function($ease-out-expo);
	}
	80% {
		top: 190px;
		height:155px;
		@include animation-timing-function($ease-out-quint);
	}
	85% {
		top: -100px;
		width:220px;
		height:220px;
		@include animation-timing-function($ease-out-expo);
	}
}

/******************************************************* 
	
 * User photo animation

*******************************************************/

@include keyframes(expand) {
	0% {
		top: 0px;
		@include transform(rotate(0deg)); 
	}
	100% {
		height:320px;
		top: 0px;
		@include transform(rotate(360deg)); 
		@include border-radius(10px);
		@include transition(all .2s forwards);
	}
}

.scale {
	-webkit-animation: expand .3s 1 forwards;
	-moz-animation: expand .3s 1 forwards;
	-ms-animation: expand .3s 1 forwards;
	animation: expand .3s 1 forwards;
}

.user-photo {
	position:relative;
	max-width:140px;
	height:140px;
	margin:20px auto;
	background-color:#b2e3ef;
	@include border-radius(50%);
	@include transform(scale(0.5));
	@include transform-origin(center center);
	opacity:0;
	overflow:hidden;
}

@include keyframes(scaleUser) {
  0% {
  	opacity:0;
    @include transform(scale(0.5));
  }
  50% {
  	opacity:1;
    @include transform(scale(1.2));
  }
  100% {
  	opacity:1;
    @include transform(scale(1));
  }
}

.user-photo-animate {
	@include animation(scaleUser .3s 1 forwards);
}


.user-photo-mask {
  position: absolute;
  top: -80px;
  width: 188px;
  height: 249px;
  left: 175px;
  overflow:hidden;
  text-align:center;
  @include border-radius(50%);
}

@include keyframes(moveUser) {
  0%{
  	bottom:-220px;
  }
  100% {
  	bottom:-30px;
  }
}

.user-photo-mask > img {
	position:relative;
	bottom:-220px;
}

.user-img {
	@include animation(moveUser .3s 1 forwards);
}

.user-name {
	width:100%;
	text-align:center;
	opacity:0;
}

.user-name > h5 {
	font-family:$font-stack;
	font-weight:$font-bold;
	color:#334455;
	font-size:25px;
	margin:0px;
}

.animated {
  @include animation-duration(1s);
  @include animation-fill-mode(both);
}

@include keyframes(fadeInUp) {
  0% {
    opacity:0;
    @include transform(translate3d(0, 100%, 0));
  }
  100% {
    opacity:1;
    @include transform(none);
  }
}

.fadeInUp {
  @include animation-name(fadeInUp);
}

/************************************

 * Draw Lines

************************************/
ul.lines {
	position:relative;
  	max-width: 350px;
  	margin: 0 auto;
	padding:0px;
}
ul.lines > li {
	list-style: none;
	display:inline-block;
  	margin-top: 16px;
  	opacity:0;
}
ul.lines > li:nth-child(1) {
  width: 100%;
  //height: 2px;
  // border-bottom: 2px solid #CACACA;
}
ul.lines > li:nth-child(2) {
  width: 100%;
  height: 2px;
  // border-bottom: 2px solid #CACACA;
}
ul.lines > li:nth-child(3) {
  width:90px;
  height: 2px;
  // border-bottom: 2px solid #CACACA;
}


/************************************

 * FOOTER

************************************/
footer {
	position:fixed;
	padding:0px 20px 20px 0px;
	bottom:0px;
	right:0px;
	
	.inspiration {
		width:100%;
		text-align:right;
		margin-bottom:2px;
		font-family:$font-stack;
		font-size:12px;
		opacity:.6;
		a { 
			color:#000;
			text-decoration:none;
		}
		a:hover { 
			color:#ff7d04;
			text-decoration:underline;
		}
	}
	.copyright { 
		text-align:right;
		font-family:$font-stack;
		font-size:12px;
	}
	.copyright { 
		text-align:right;
		font-family:$font-stack;
		font-size:12px;

		a { 
			color:#000;
			text-decoration:none;
		}
		a:hover { 
			color:#ff7d04;
			text-decoration:underline;
		}
	}
}

/************************************

 * Social Buttons

************************************/

.social-buttons {
  height: 50px;
  font-size: 10;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 40%;
  bottom: 50%;
}

.social-button {
  display: inline-block;

  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 0 !important;
  margin-right: 15px !important;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  &:before {
    content: '';
    background-color: #000;
    width: 120%;
    height: 120%;
    position: absolute;
    top: 90%;
    left: -110%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.79);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.79);
  }
  .fa {
    font-size: 28px;
    vertical-align: middle;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  &.web {
    &:before {
      background-color: #334455;
    }
    .fa {
      color: #334455;
    }
  }
  &.facebook {
    &:before {
      background-color: #3B5998;
    }
    .fa {
      color: #3B5998;
    }
  }
  &.twitter {
    &:before {
      background-color: #3CF;
    }
    .fa {
      color: #3CF;
    }
  }
  &.linkedin {
    &:before {
      background-color: #283E4A;
    }
    .fa {
      color: #283E4A;
    }
  }
  &.dribbble {
    &:before {
      background-color: #F26798;
    }
    .fa {
      color: #F26798;
    }
  }
  &.github {
    &:before {
      background-color: #000;
    }
    .fa {
      color: #000;
    }
  }
  &:hover {
    &:before {
      top: -10%;
      left: -10%;
    }
    .fa {
      color: #fff;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  &:focus {
    opacity: .85;
  }
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: inherit;
}

:focus {
  outline: none;
}